body {
  background-color: #e9ebee;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;

  h1 {
    font-size: 20px;
    color: #fff;
  }
}

.postList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  width: 700px;
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 30px;
  border-radius: 3px;

  p {
    font-size: 16px;
    color: #333;
    margin-bottom: 0px;
  }
}

.postHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 51%;
}

.postHeaderData {
  margin-left: 10px;

  h1 {
    font-size: 16px;
    color: #666;
    margin: 1px;
  }

  p {
    font-size: 14px;
    color: #999;
    margin: 1px;
  }
}
